[submodule "Purpur"]
	path = Purpur
	url = https://github.com/PurpurMC/Purpur.git
[submodule "OG-Suite"]
	path = OG-Suite
	url = https://github.com/true-og/OG-Suite.git
[submodule "third-party-suite"]
	path = third-party-suite
	url = https://github.com/true-og/third-party-suite.git
[submodule "website"]
	path = website
	url = https://github.com/true-og/website.git
