@font-face {
font-family: minecraft;
    src:
        url('assets/fonts/minecraft.woff2') format('woff2'),
        url('assets/fonts/minecraft.woff') format('woff'),
        url('assets/fonts/minecraft.ttf') format('truetype');
}

#disclaimer {

	font-size: 1.5vh;

}

#faq {

	background-image: url("https://i.redd.it/cwuqyzzfv5501.png");
	background-size: cover;
	width: 100%;
	height: 100%;

}

#features {

	background-image: url("sky.png");
	background-size: cover;
	width: 100%;
	height: 100%;
    z-index: 1;

}

#nav {

	opacity: 80%;
	position: fixed;
	width: 100%;

}

#rules {

    background-image: url("https://i.imgur.com/zE8h32V.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;

}

.saddle-brown {

	color: #8B4513;

}
.saddle-brown-background {

	background-color: #8B4513;

}

/* Minecraft color code "Dark Blue" (&1) */
.bukkit-darkblue {

	color: #0000AA;

}
.bukkit-darkblue {

	background-color: #0000AA;

}

/* Minecraft color code "Gold" (&6) */
.bukkit-gold {

	color: #FFAA00;

}
.bukkit-gold-background {

	background-color: #FFAA00;

}

/* Minecraft color code "Aqua" (&b) */
.bukkit-blue {

	color: #55FFFF;

}
.bukkit-blue-background {

	background-color: #55FFFF;

}

/* Minecraft color code "Dark Red" (&4) */
.bukkit-dark-red {

	color: #AA0000;

}
.bukkit-dark-red-background {

	background-color: #AA0000;

}

/* Minecraft color code "Dark Green" (&2) */
.bukkit-darkgreen {

	color: #00AA00;

}
.bukkit-darkgreen-background {

	background-color: #00AA00;

}

/* Minecraft color code "Green" (&a) */
.bukkit-green {

	color: #55FF55;

}
.bukkit-green-background {

	background-color: #55FF55;

}

/* Minecraft color code "Dark Purple" (&5) */
.bukkit-dark-purple {

	color: #AA00AA;

}
.bukkit-darkpurple-background {

	background-color: #AA00AA;

}


/* Minecraft color code "Red" (&c) */
.bukkit-red {

	color: #FF5555;

}
.bukkit-red-background {

	background-color: #FF5555;

}

/* The color used in the discord logo */
.discord-blue {

	color: #738ADB;

}
.discord-blue-background {

	background-color: #738ADB;

}

.grey {

	color: grey;

}

.main-text {

	color: white;
	background-color: black;
    font-size: 6.5vh;
    z-index: 1;

}

.purple {

	color: purple;
	
}

.red {

	color: red;

}
	
.reduce-line-height {

	line-height: normal;

}

.reduce-line-height-more {

	line-height: 50%;

}

.yellow {

	color: yellow;

}

.w3-left {

    height: auto;
    width: auto;
    max-height: 6vh;
	padding-left: 1vh;
	padding-top: 1.5vh;

}

.w3-right {

	font-size: 3vh;

}

.background-wrapper {

	background-image: url("space.png");
	z-index: -1;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
@keyframes animateBackground {

    0%,
    100%{

        transform: scale(1.1);

    }
    50% {

        transform: scale(1.3);

    }

}

.glow {
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #FFFFFF, 0 0 40px #FFFFFF;
  }
  to {
    text-shadow: 0 0 15px #000000, 0 0 25px #55FFFF, 0 0 35px #55FFFF, 0 0 45px #55FFFF;
  }
}
