@font-face {

font-family: 'Minecraftchmc-dBlX';

	src:
	    url('Minecraftchmc-dBlX.ttf')
	    format('truetype'),
	    url('Minecraftchmc-dBlX')
	    format('truetype');

}

/* Full height image header */
.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-image: url("front-page-headliner.png");
	min-height: 100%;
}

.blue {

	color: blue;
	text-color: blue;

}

.darkred {

	color: darkred;
	text-color: darkred;

}

.discord-blue {

	color: #738ADB;
	text-color: #738ADB;

}

.green {

	color: green;
	text-color: green;

}

.grey {

	color: grey;
	text-color: grey;

}

.left-pad {

	margin-top 20%;
	margin-left: 10%;
	padding: 10%;

}

.lightgreen {

	color: lightgreen;
	text-color: lightgreen;

}

.main-text {

	color: white;
	background-color: black;

}

.orange {

	color: orange;
	text-color: orange;

}

.purple {

	color: purple;
	text-color: purple;
	
}

.red {

	color: red;
	text-color: red;

}

.reduce-line-height {

	line-height: normal;

}

.reduce-line-height-more {

	line-height: 50%;

}

.small-logo {

	margin-left: 2%;
	height: 8vh;	

}

.w3-bar .w3-button {

	padding: 10px;

}

.yellow {

	color: yellow;
	text-color: yellow;

}
